
<div class="flex content-start bg-gray-700 shadow-lg">

	<h1 class="pl-10 text-white text-2xl  text-center"> Use Of component </h1>
</div>
<div class="pt-1 shadow-lg">
	<div class="flex bg-gray-500 pb-5 pl-5 pr-5 pt-5">
		<div class=" bg-gray-600 pb-5 pt-2 pl-5 pr-5">
			<p class="title bg-gray-700 py-5 px-5 text-xl">{{ title }} </p>
			<app-hello></app-hello>
			
		</div>
		<div class=" ml-2 bg-gray-600  pb-5 pt-2 pl-5 pr-5">
			<p class="title  bg-gray-700 py-5 px-5 text-xl">{{ title }} </p>
			<app-hello></app-hello>
		</div>
		<div class=" ml-2 bg-gray-600  pb-5 pt-2 pl-5 pr-5">
			<p class="title  bg-gray-700 py-5 px-5 text-xl">{{ title }} </p>
			<app-hello></app-hello>
		</div>
		<div class=" ml-2 bg-gray-600  pb-5 pt-2 pl-5 pr-5">
			<p class="title  bg-gray-700 py-5 px-5 text-xl">{{ title }} </p>
			<app-hello></app-hello>
		</div>
	</div>
</div>
<router-outlet></router-outlet>





